<footer>
  <!-- Contenido del pie de página -->
  <p>Ave. Justo Arosemena y Cuba y entre calles 35 y 36 Este.</p>
  <p>Corregimiento de Calidonia.</p>
  <p>República de Panamá.</p>
  <a href="tel:+507 524-8900" class="tel" style="color:#fff;">524-8900 /</a>
  <a href="tel:+507 506-9600" class="tel" style="color:#fff;">506-9600</a>
  <p>© {{ current_year }} | Municipio de Panamá</p>
  <p>Todos los derechos reservados</p>
  <span id="currentYear"></span> <!-- Agrega este elemento para mostrar la fecha -->
</footer>